// Common color
$white: #fff;
$black: #000;
$red: #f13f4a;
$orange: #f2994a;
$yellow: #f2c94c;
$green: #39d57a;
$blue: #2f80ed;
$violet: #9b51e0;
$purple: #bb6bd9;
$grey: #828282;


// Brand Color
$brand-color-1: #FA883A;
$brand-color-2: #10B0AD;
$brand-color-3: #58066A;
$brand-color-4: #D3FEFD;

// Font color variant

$text-variant-1: #ccd6f6;
$text-variant-2: #9ea3ba;
$text-variant-3: #8892B0;
$text-variant-4: #5e616e;
$text-variant-5: #3d3f48;

// Border color variant
$border-variant-1: #727272;
$border-variant-2: #9ea3ba;
$border-variant-3: #bfbfbf;
$border-variant-4: #dfffe5;
$border-variant-5: #e5e5e5;


// Common style

$transition: 0.3s all ease-out;
